
#mySidebar{
    color:white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

 
}

td{
    display: flex;
    justify-content: center;
    align-items: center;
}

tr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    
		
}

.sidebar-table{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: fill;
}




.sidebar-nav-icon{
    display: flex;
    border: 1px black solid;
    width: 10%;
    height: 100%;
   

}

.small-profile-picture{
    border-radius: 100%;
    min-width: 100%;
 
}