.background-image{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://i.ytimg.com/vi/rQfg9g8sM_A/maxresdefault.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    min-width: 50vw;
    
  
  }


.hitch-title-logo{
    position: fixed;
    display: flex;
    height: 80%;
    width: 50%;
    background-size: contain;
    background-image: url("https://sat02pap002files.storage.live.com/y4mwFbVyIAwe8UwS4-vKobMeLbAuOxgPhmkrPIEhS5ExLCVbKoLTFzg4waHvxS83ieulOTmQ-qb5Axosz6Ndkd5YcIcHm-aupsvS8EGBKUbeeKma_y4gDD5o-nfPY_ILV9UK_cEgQ0m-gtjLMZ5FXrQnzXlJiOQjtI1g7CBeo5bMt11iX2ZmeIhehYEC9UyRFkN?width=1168&height=627&cropmode=none");
    background-repeat: no-repeat;
    justify-content: center;
    min-width: 50vw;

    


}



.auth-forms{
    color: white;
    position: fixed;
    display: flex;
    bottom: 20%;
}

.label{
    color: white;
    text-shadow: 1px 1px black
}