

.profile-page-container{
    display: flex;
    width: 100%;
}

.profile-page-column-1{
    width: 40%
}

.profile-page-column-2{
    width: 60%
}


.profile-image{
    border-radius: 100%;
}

.trip-list-trip-info{
    border: 3px solid black;
    margin: 3%;
}