

.user-type-container{
    max-height: 100%;
    display: flex;
    overflow: hidden;
}

.type-driver {
    position: absolute;
    top: 30%;
    left: 60%;
    color: white;
    z-index: 4;
    width: 100%;
}

.type-passenger{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    z-index: 4;
    width: 100%;
}

.user-type{
    max-width: 50%;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
 
}

.user-type:hover{
    transform: scale(1.1);
    overflow: hidden;
    
}


