
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: seagreen;
  object-fit: cover;
}

.application-views{
  display: flex;
  width: 100%;
  height: 95vh;
  
}



.homepage-container{
  display: flex;
  width: 100%;
  height: 100%
}



.sidebar {

  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 5vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2%;
  align-items: stretch;

}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn-container{
  display: flex;
}


.openbtn {
  position: relative;
  font-size: 20px;
  background-size:cover;
  cursor: pointer;
  border: none;
  height: 100%;
  background-color: rgb(139, 134, 134, 20%);

}

.openbtn:hover {
  color: #444;
}

#sidebar-button {

  height: 100%;
  justify-content: center;
  align-items: center;
}


