body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: seagreen;
}

.application-views{
  display: flex;
  width: 100%;
  height: 90vh;
  
}

/* .sidebar{
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  background-color: lightgrey;
} */

.homepage-container{
  display: flex;
  width: 100%;
  height: 100%
}



.sidebar {

  height: 90%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5%;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}


.openbtn {
  position: fixed;
  font-size: 20px;
  background-size:cover;
  cursor: pointer;
  padding: 5px 5px;
  border: none;
  height: 100%;
  background-color: rgb(139, 134, 134, 20%);

}

.openbtn:hover {
  color: #444;
}

#sidebar-button {
  position: fixed;
  transition: margin-left .5s;
  padding: 16px;
  height: 100%;
}


