a {
    color: inherit;
    text-decoration: none;
}



.container {
    display: flex;
    height: 100%;
}

.location-search {
    position: fixed;
    z-index: 1;
    width: 20%;
    padding: 1rem;
    background: rgba(185, 185, 185, 0.426);
    color: #fff;
    right:0px;
}

.controls input {
    border: none;
    }

.map-container {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.highlight {
    font-size: 1.25rem;
    font-weight: bold;
}

.combobox-input {
    width: 100%;
    padding: 0.5rem;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}


.background-image{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("https://i.ytimg.com/vi/rQfg9g8sM_A/maxresdefault.jpg");
  background-repeat: no-repeat;
  justify-content: center;
  min-width: 50vw;
  

}

.page-content{
  width: 100%;
  display: flex;
  flex-direction: row;
}



.popup-window{
  max-width: 300px;
  height: fit-content;
  object-fit: contain;
  position: relative;
  background-color: white;
}

.image-container{
  width: 100%;
  object-fit: contain;
}

#prop-image{
  top: 10%;
  object-fit: contain;
  width: 100%;
  top: 0px;
  height: 100%


}


